<% for(var i=0; i < txlog.length; i++) { %>
<tr>
  <td><%= txlog[i].Type%></td>
  <td>&#9830; <%= txlog[i].token%> ALT</td>
  <td><%= txlog[i].date %></td>
  <td><a href="https://explorer.matic.network/tx/<%= txlog[i].TxHash%>" target="_blank"
      class="button button-prinary">Proof</a></td>
</tr>

<% } %>