<% include ./includes/head-one %>

<body>
  <div id="page" class="theia-exception">
    <% include ./includes/home-nav %>
    <main>
      <section id="hero_in" class="general">
        <div class="wrapper">
          <div class="container">
            <h1 class="fadeInUp"><span></span>About Atlas Library System</h1>
          </div>
        </div>
      </section>
      <!--/hero_in-->

      <div class="bg_color_1">
        <div class="container margin_120_95">
          <div class="main_title_2">
            <span><em></em></span>
            <h2>The Background</h2>
            <p>What is ALS trying to solve and why it exists?</p>
          </div>
          <div class="row justify-content-between">
            <div class="col-lg-6 wow" data-wow-offset="150">
              <figure class="block-reveal">
                <div class="block-horizzontal"></div>
                <img src="https://siasky.net/JACXgDpKChP8boXrswlwaHLJd4kk31wYdFYwnE3GxoF5mw" class="img-fluid"
                  alt="About-Atlas-Library-System">
              </figure>
            </div>
            <div class="col-lg-5">
              <p>The objective behind ALS is to primarily counter the misappropriation of financial compensation that
                Authors often face in the Book Publishing Industry. The thought process to achieve this is simple - help
                Authors directly control their income and at the same time curb the issue of intellectual property theft
                by facilitating affordable rental of books through a simple web app that anyone can use.</p>
              <p>The entire system is built using Blockchain which deploys immutable smart contracts and hence ensures
                greater transparency and trust amongst the users and authors alike. Not only does this help authors
                receive maximum revenue, but also eases the process of publishing it. </p>
              <p>Furthermore, ALS is also an attempt to help consumers worldwide understand how Blockchain based apps
                can be simple and hassle-free as well. ALS tries to achieve this with the showcase of absolute
                transparency and an user friendly experience.</p>

            </div>
          </div>
          <!--/row-->
        </div>
        <!--/container-->
      </div>
      <!--/bg_color_1-->


      <div class="container margin_30_95">
        <div class="main_title_2">
          <span><em></em></span>
          <h2>Learn more</h2>
          <p>Learn more about Atlas Library System with the following resources.</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
            <a href="https://www.notion.so/Atlas-Library-System-Project-1411962d5b044894b1a6c8b0115dc014"
              class="grid_item" target="_blank">
              <figure class="block-reveal">
                <div class="block-horizzontal"></div>
                <img src="/static/img/ALS_Docs.jpg" class="img-fluid" alt="">
                <div class="info">
                  <h3>Documentation</h3>
                </div>
              </figure>
            </a>
          </div>
          <!-- /grid_item -->
          <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
            <a href="https://medium.com/@aditya.vijaykumar/the-atlas-library-system-defi-project-de751df152fd"
              class="grid_item" target="_blank">
              <figure class="block-reveal">
                <div class="block-horizzontal"></div>
                <img src="/static/img/ALS_Blog.jpg" class="img-fluid" alt="">
                <div class="info">
                  <h3>Blog Post</h3>
                </div>
              </figure>
            </a>
          </div>
          <!-- /grid_item -->
          <div class="col-lg-4 col-md-6 wow" data-wow-offset="150">
            <a href="https://gitcoin.co/grants/1082/atlas-library-system" class="grid_item" target="_blank">
              <figure class="block-reveal">
                <div class="block-horizzontal"></div>
                <img src="/static/img/ALS_Gitcoin.jpg" class="img-fluid" alt="">
                <div class="info">
                  <h3>Gitcoin Grant</h3>
                </div>
              </figure>
            </a>
          </div>
          <!-- /grid_item -->

        </div>
        <!-- /row -->
      </div>
      <!-- /container -->

      <div class="container margin_120_95">
        <div class="main_title_2">
          <span><em></em></span>
          <h2>Why choose Atlas Library System</h2>
          <p>Some of the Key Features that makes ALS part of the cutting edge solution.
          </p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <a class="box_feat">
              <i class="pe-7s-server"></i>
              <h3>Blockchain Based</h3>
              <p>All transactions are recorded on chain, can be verified and cannot be tampered with.
                This ensures absolute transparency.
              </p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_feat">
              <i class="pe-7s-safe"></i>
              <h3>Decentralized Content</h3>
              <p>All the E-Books are stored on Sia's Skynet Portal, to provide a truly Decentralized
                Experience and Application. </p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_feat">
              <i class="pe-7s-cash"></i>
              <h3>Empower Authors</h3>
              <p>You get to directly Empower the Authors. 90% of the Revenue goes directly to the Authors.</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_feat">
              <i class="pe-7s-piggy"></i>
              <h3>Affordable Pricing</h3>
              <p>Rent books for prices starting as low as ₹1. Why resort to illegal sources when it is
                so affordable? </p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_feat">
              <i class="pe-7s-clock"></i>
              <h3>Rent for any duration</h3>
              <p>Rent for a day or a year, no restrictions at all. You get to decide! That's the
                power of Decentralized Finances!</p>
            </a>
          </div>
          <div class="col-lg-4 col-md-6">
            <a class="box_feat">
              <i class="pe-7s-magic-wand"></i>
              <h3>Intuitive UI</h3>
              <p>A simple and slick to neatly wrap all the complexities and present a hassle-free User Interface
                And Experience.
              </p>
            </a>
          </div>
        </div>
        <!--/row-->
      </div>
      <!-- /container -->

      <div class="container margin_120_95">
        <div class="main_title_2">
          <span><em></em></span>
          <h2>Contributors</h2>
          <p>The people behind Atlas Library System.</p>
        </div>
        <div id="carousel" class="owl-carousel owl-theme">
          <div class="item">
            <a href="https://adityavijaykumar.me" target="_blank">
              <div class="title">
                <h4>Aditya Vijaykumar<em>Developer</em></h4>
              </div><img src="/static/img/ProfileShot.png" alt="Aditya-Vijaykumar">
            </a>
          </div>
          <div class="item">
            <a href="#0">
              <div class="title">
                <h4>Anomit Ghosh<em>Mentor</em></h4>
              </div><img src="https://via.placeholder.com/350x500/ccc/fff/1_carousel.jpg" alt="Anomit-Ghosh">
            </a>
          </div>
          <div class="item">
            <a href="#0">
              <div class="title">
                <h4>Swaroop Hegde<em>Mentor</em></h4>
              </div><img src="https://via.placeholder.com/350x500/ccc/fff/1_carousel.jpg" alt="Swaroop-Hegde">
            </a>
          </div>

        </div>
        <!-- /carousel -->
      </div>
      <!--/container-->
    </main>
    <!--/main-->
    <% include ./includes/footer-one %>
  </div>
  <!-- COMMON SCRIPTS -->
  <script src="/static/js/jquery-2.2.4.min.js"></script>
  <script src="/static/js/common_scripts.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/assets/validate.js"></script>
</body>