<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean" style="margin: 0px ;">
  <div class="container">
      <img src="/static/images/logo.png" style="height: 30px; width: auto;"> &nbsp;
      <a class="navbar-brand" href="/admin/dashboard">Admin | Atlas Library System</a><button data-toggle="collapse"
          class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/dashboard">Dashboard</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/review">Review</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/book">Approved</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/account">Rejected</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/admin/about">Revenue</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-danger" role="button"
                      href="/admin/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
<% include ./partials/messages %>
<div class="jumbotron mt-3">
  <h1>Hello </h1>
  <p>This section allows you to have a look at all the books sent for approval as well as all the books
    approved.</p>
</div>

<section style="margin: 16px 0px;">
  <h3>Books Pending for Approval</h3>
  <div class="table-responsive bg-secondary">
    <table class="table">
      <thead>
        <tr>
          <th>Name of the Book</th>
          <th>Author</th>
          <th>Date</th>
          <th>Option</th>
        </tr> 
      </thead>
      <tbody>
        <% for(var i=0; i < data.length; i++) { %>
        <tr>
          <td><%= data[i].book_title %></td>
          <td><%= data[i].book_authors %></td>
          <td><%= data[i].date %></td>
          <td><a class="btn btn-outline-primary" role="button" href="/admin/<%= data[i]._id %>">View</a></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</section>
