<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean" style="margin: 0px ;">
  <div class="container">
      <img src="/static/images/logo.png" style="height: 30px; width: auto;"> &nbsp;
      <a class="navbar-brand" href="/author/dashboard">Atlas Library System</a><button data-toggle="collapse"
          class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/dashboard">Home</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/profile">Profile</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/book">Books</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/account">Account</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/about">About</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-danger" role="button"
                      href="/author/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
  <% include ./partials/messages %>
  <div class="jumbotron mt-3">
    <h1 class="display-3">Hello, <%= user.name %></h1>
    <h2 class="display-6">Welcome to ALT Author family.</h2>
    <hr class="my-4">
    <div class="row">
    </div>
  </div>