<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean" style="margin: 0px ;">
  <div class="container">
      <img src="/static/images/logo.png" style="height: 30px; width: auto;"> &nbsp;
      <a class="navbar-brand" href="/author/dashboard">Atlas Library System</a><button data-toggle="collapse"
          class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/dashboard">Home</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/profile">Profile</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/book">Books</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/account">Account</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/author/about">About</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-success" role="button"
                href="/dashboard">Switch to User</a></li>
              <li class="nav-item" role="presentation"><a class="btn btn-danger" role="button"
                      href="/users/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
  <ol class="breadcrumb" style="margin-top: 15px;">
    <li class="breadcrumb-item"><a href="#">About</a></li>
    <li class="breadcrumb-item active">Atlas Library</li>
  </ol>
  <div class="jumbotron mt-3">
    <h1 class="display-3">Hello, <%= user.displayName %></h1>
    <h2 class="display-4"> We are Atlas Library System.</h2>
    <hr class="my-4">
    <p style="text-align: center;"><img src="/static/images/LogoBig.png" style="height: 360px; width: auto; border-radius: 10px;"></p>
    <h3 class="display-5"> Our Purpose.</h3>
    <p class="lead">The purpose of this DeFi app is to help all users rent or buy books through an easy to use platform that ensures transparent and fair payment to authors.</p>
    <h3 class="display-5"> Tech under the hood.</h3>
    <p class="lead">All the transactions happen on the Goerli Test Network with our custom ERC20 token - Atlas Library Token or ALT. The status of the book rental is also stored on the chain to ensure transparency. We are powered by BlockVigil's powerful EthVigil API.</p>
  </div>
  

  <div class="jumbotron mt-3">
    <blockquote class="blockquote text-right">
      <p class="mb-0">Blockchain technologies will change transactions in a broad way.</p>
      <footer class="blockquote-footer">Brad Garlinghouse,<cite title="Source Title"> CEO, Ripple</cite></footer>
    </blockquote>
  </div>