<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="/static/images/logo.png" style="height: 30px; width: auto;">
  <a class="navbar-brand" href="/dashboard">Atlas Library System</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/app/browse">Browse <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/app/account">Account</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
  </div>
</nav>
<% include ./partials/messages %>
<ol class="breadcrumb" style="margin-top: 15px;">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Browse Library</li>
</ol>

<div class="row align-items-center">
    <% include ./partials/books %>
</div>
<style>
p#desc {
   width: 250px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
</style>
