<nav class="navbar navbar-dark navbar-expand-md bg-primary navigation-clean" style="margin: 0px ;">
  <div class="container">
      <img src="/static/images/logo.png" style="height: 30px; width: auto;"> &nbsp;
      <a class="navbar-brand" href="/dashboard">Atlas Library System</a><button data-toggle="collapse"
          class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
              class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navcol-1">
          <ul class="nav navbar-nav ml-auto">
              <li class="nav-item" role="presentation"><a class="nav-link" href="/dashboard">Home</a></li>
              <li class="nav-item active" role="presentation"><a class="nav-link" href="/app/browse">Browse</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/app/account">Account</a></li>
              <li class="nav-item" role="presentation"><a class="nav-link" href="/about">About</a></li>
              <% if (user.role == 'author'){ %>
              <li class="nav-item" role="presentation"><a class="btn btn-success" role="button"
                href="/author/dashboard">Switch to Author</a></li>
              <% } %>
              <% if (user.role == 'user'){ %>
                <li class="nav-item" role="presentation"><a class="btn btn-success" role="button"
                  href="/author-signup">Upgrade to Author</a></li>
                <% } %>
              <li class="nav-item" role="presentation"><a class="btn btn-danger" role="button"
                      href="/users/logout">Logout</a></li>
          </ul>
      </div>
  </div>
</nav>
<% include ./partials/messages %>
<ol class="breadcrumb" style="margin-top: 15px;">
  <li class="breadcrumb-item"><a href="#">Home</a></li>
  <li class="breadcrumb-item active">Browse Library</li>
</ol>

<div class="row align-items-center">
    <% include ./partials/books %>
</div>
<style>
p#desc {
   width: 250px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
</style>
