<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="/static/images/logo.png" style="height: 30px; width: auto;">
    <a class="navbar-brand" href="/dashboard">Atlas Library System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/dashboard">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/browse">Browse</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/app/account">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
      <div class="form-inline my-2 my-lg-0">
        <% if(user.role == 'user') { %>
        <a href="/author-signup" id="author-signup" class="btn btn-success">Become an author</a>
        <% } %> 
        <% if(user.role == 'author') { %>
        <a href="/author/dashboard" id="author-switch" class="btn btn-success">Switch to Author</a>
        <% } %>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
      </div>
    </div>
  </nav>
  <% include ./partials/messages %>
  <div class="jumbotron mt-3">
    <h1 class="display-3">Hello, <%= user.name %></h1>
    <h2 class="display-6">Welcome to ALT family.</h2>
    <p class="lead">**DISCLAIMER** <br>All the data of the books are obtained via open source licenses, purely for demonstration purposes.</p>
    <hr class="my-4">
    <h4 class="display-6" style="align-self: center;">All your rented books will appear here.</h4>
    <div class="row">
      <% include ./partials/rentals %>
    </div>
  </div>
  <script src="/static/javascripts/dashboard.js"></script>