<% include ./includes/head-one %>

<body>
  <div id="page" class="theia-exception">
    <% include ./includes/user-nav %>
    <main>
      <section id="hero_in" class="general">
        <div class="wrapper">
          <div class="container">
            <h1 class="fadeInUp"><span></span>Hello Aditya Vijaykumar</h1>
          </div>
        </div>
      </section>
      <!--/hero_in-->
      <div class="container margin_60_35">
        <% include ./partials/messages %>
        <div class="row">
          <aside class="col-lg-1" id="sidebar">
          </aside>
          <!--/aside -->

          <div class="col-lg-10">
            <div class="box_teacher">
              <div class="indent_title_in">
                <i class="pe-7s-bookmarks"></i>
                <h3>Rented Books</h3>
                <p>All your rented books will appear here!</p>
              </div>
              <div class="container margin_60_35">
                <div class="row">
                  <% include ./partials/rentals %>
                </div>
              </div>
              <!-- /row -->
            </div>

            <hr class="styled_2">
            <div class="wrapper_indent">
              <h5>Disclaimer</h5>
              <p>Presently, all the details of the books that are available on Atlas Library System are
                obtained from Open Source licenses, purely for demonstration purposes.
                While the PDFs that are rendered have been custom designed for this project and is
                intellectual property of Atlas Library System.
              </p>
            </div>




          </div>
        </div>
        <!-- /col -->
      </div>
      <!-- /row -->

      <!-- /container -->
    </main>
    <!--/main-->
    <% include ./includes/footer-one %>
  </div>
  <!-- COMMON SCRIPTS -->
  <script src="/static/js/jquery-2.2.4.min.js"></script>
  <script src="/static/js/common_scripts.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/assets/validate.js"></script>
  <script src="/static/javascripts/dashboard.js"></script>
</body>
<!-- Logout Modal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <a class="btn btn-primary" href="/users/logout">Logout</a>
      </div>
    </div>
  </div>
</div>