<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h2 class="text-center mb-3">  Resend Email Verification Link</h2>
      <% include ./partials/messages %>
      <form action="/author/resendtoken" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            placeholder="Enter Email"
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/author/register">Register</a>
      </p>
    </div>
  </div>
</div>
