<% include ./includes/head-one %>

<body id="login_bg">
  <nav id="menu" class="fake_menu"></nav>

  <div id="preloader">
    <div data-loader="circle-side"></div>
  </div>
  <!-- End Preload -->

  <div id="login">
    <aside>
      <figure>
        <a href="/"><img src="img/logo.png" width="149" height="42" data-retina="true" alt=""></a>
      </figure>
      <div class="access_social text-center">
        <h3>ALS Admin</h3>
        <h5>Forgot Password</h5>
      </div>
      <form action="/admin/reset/<%= token%>" method="POST" class="add_top_30">
        <div class="form-group">
          <span class="input">
            <input class="input_field" type="password" autocomplete="off" name="password" id="password">
            <label class="input_label">
              <span class="input__label-content">Password</span>
            </label>
          </span>
        </div>
        <div class="form-group">
          <span class="input">
            <input class="input_field" type="password" autocomplete="off" name="password2" id="password2">
            <label class="input_label">
              <span class="input__label-content">Confirm Password</span>
            </label>
          </span>
        </div>
        <button type="submit" class="btn_1 rounded full-width add_top_30">Reset Password</button>

      </form>
      <div class="copy">© 2020 Atlas Library System</div>
    </aside>
  </div>
  <!-- /login -->



  <!-- COMMON SCRIPTS -->
  <script src="/static/js/jquery-2.2.4.min.js"></script>
  <script src="/static/js/common_scripts.js"></script>
  <script src="/static/js/main.js"></script>
  <script src="/static/assets/validate.js"></script>

</body>

<!-- /.modal -->