<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img src="/static/images/logo.png" style="height: 30px; width: auto;">
    <a class="navbar-brand" href="/">Atlas Library System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1><i class="fab fa-ethereum fa-3x"></i></h1>
      <p>Create an account or login</p>
      <a href="/users/login" class="btn btn-primary btn-block">Login</a>
      <a href="/author/login" class="btn btn-primary btn-block" >Author's Login</a>
    </div>
  </div>
</div>
