<footer>
    <div class="container margin_120_95">
        <div class="row">
            <div class="col-lg-5 col-md-12 p-r-5">
                <p><img src="/static/img/logo.png" width="149" height="42" data-retina="true" alt=""></p>
                <p>Atlas Library System is a hassle-free blockchain based library system designed to directly
                    support authors. ALS is primarily designed for the Indian region.
                </p>
                <div class="follow_us">
                    <ul>
                        <li>Follow me</li>
                        <li><a href="https://adityavijaykumar.me/"><i class="ti-user"></i></a></li>
                        <li><a href="https://twitter.com/AdityaVijaykum4"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/aditya-vijaykumar"><i class="ti-linkedin"></i></a></li>
                        <li><a href="https://github.com/aditya-vijaykumar"><i class="ti-github"></i></a></li>
                        <li><a href="https://www.instagram.com/aditya.vijaykumar/"><i class="ti-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 ml-lg-auto">
                <h5>Useful links</h5>
                <ul class="links">
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/app/browse">Browse</a></li>
                    <li><a href="/app/account">Account</a></li>
                    <li><a href="/about" target="_blank">About</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">

                <h5>Contact</h5>
                <ul class="contacts">
                    <li><a href="mailto:aditya.devsandbox@gmail.com"><i class="ti-email"></i>
                            aditya.devsandbox@gmail.com</a></li>
                </ul>
                <div id="newsletter">
                    <h6>Developed by <br>
                        <a href="adityavijaykumar.me">Aditya Vijaykumar</a></h6>
                </div>



            </div>
        </div>
        <!--/row-->
        <hr>
        <div class="row">
            <div class="col-md-8">
                <ul id="additional_links">
                    <li><a href="#0">Terms and conditions</a></li>
                    <li><a href="#0">Privacy</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <div id="copy">© 2020 Atlas Library System</div>
            </div>
        </div>
    </div>
</footer>
<!--/footer-->